doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lifegame_core.js")
    script(src="/lifegame_render.js")
    script(src="/lifegame_interface.js")
  body
    block content
